MASSIVE_API_KEY=your_massive_api_key_here
MASSIVE_FUTURES_TICKER=MESU6
FABRIC_EVENTSTREAM_CONNECTION_STRING=your_fabric_eventstream_connection_string_here
FABRIC_EVENTSTREAM_EVENT_HUB_NAME=your_fabric_event_hub_name_here
MASSIVE_S3_ACCESS_KEY=your_massive_s3_access_key_here
MASSIVE_S3_SECRET_KEY=your_massive_s3_secret_key_here